
    <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1>Aplicación de Productos y Categorías</h1>
            <p class="lead text-muted">Enlace a las páginas respectivas</p>
            <p>
            <a routerLink="productos" class="btn btn-primary my-2" href="./demo/producto/producto.component.html">productos</a>
            <br>
            <a routerLink="categorias" class="btn btn-secondary my-2" href="./demo/producto/producto.component.html" >categorías</a>
            </p>
          </div>
        </section>
      
      
      </main>
      <router-outlet></router-outlet>

